@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?96643715');
  src: url('../font/fontello.eot?96643715#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?96643715') format('woff2'),
       url('../font/fontello.woff?96643715') format('woff'),
       url('../font/fontello.ttf?96643715') format('truetype'),
       url('../font/fontello.svg?96643715#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?96643715#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-mail:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-grid:before { content: '\e802'; } /* '' */
.icon-cog-alt:before { content: '\e803'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-fork:before { content: '\f126'; } /* '' */
.icon-puzzle:before { content: '\f12e'; } /* '' */
.icon-steam:before { content: '\f1b6'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-gitlab:before { content: '\f296'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
