:root {
    --color1: #a47c66;
    --color2: #e7d6c0;
    --color3: #b5bfa8;
}

section {
    padding: 50px 0;
}

header {
    padding: 200px 0;
}

header,
footer {
    background: url(../img/pattern.png), var(--color1);
    background: url(../img/pattern.png), -moz-linear-gradient(left, var(--color1) 0%, var(--color3) 100%);
    background: url(../img/pattern.png), -webkit-linear-gradient(left, var(--color1) 0%, var(--color3) 100%);
    background: url(../img/pattern.png), -o-linear-gradient(left, var(--color1) 0%, var(--color3) 100%);
    background: url(../img/pattern.png), -ms-linear-gradient(left, var(--color1) 0%, var(--color3) 100%);
    background: url(../img/pattern.png), linear-gradient(to right, var(--color1) 0%, var(--color3) 100%);
    filter: url(../img/pattern.png), progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--color1), endColorstr=var(--color3), GradientType=1);
    background-size: contain;
}

.skills,
.author {
    background-color: var(--color2);
}

.portfolio,
.learning {
    background-color: var(--color3);
}

.img-photo {
    max-width: 280px;
}

.circle-border-icon {
    margin: 0 auto 15px;
    width: 70px;
    height: 70px;
    border: 3px solid var(--color1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    width: 100px;
    height: 3px;
    background-color: var(--color3);
    margin: 15px auto 30px;
}

.link{
    color: var(--color1);
    text-decoration: none;
}

.link:visited{
    color: var(--color1);
    text-decoration: none;
}

.link:hover{
    color: var(--color3);
}

.author .link{
    text-decoration:underline;
}

.author .link:hover{
    color: var(--color1);
}

.learning h5 {
    padding: 25px;
    border: 3px solid var(--color2);
}

.learning .link:hover{
    color: var(--color2);
}

.accordion-button:not(.collapsed) {
    color: var(--bs-black);
    background-color: var(--color1);
}

.accordion{
    --bs-accordion-bg: var(--color2);
    --bs-accordion-border-color: var(--color1);
}

.accordion-item {
    background-color: var(--color2);
}


.btn-outline-dark{
    --bs-btn-hover-color:var(--color2);
    --bs-btn-hover-border-color:var(--color2);
}

footer {
    padding: 30px 0;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

.color1 {
    color: var(--color1);
}

.color2 {
    color: var(--color2);
}

.bg1 {
    background-color: var(--color1);
}

.bg2 {
    background-color: var(--color2);
}